@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    120deg,
    #050505,
    #0b0b1f,
    #120f2e,
    #0b0b1f,
    #050505
  );
  background-size: 400% 400%;
  animation: bgMove 18s ease infinite;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
